*{
    text-align: center;
    background-color:#81968F;
}
.container{
    /* background-color: rgb(255, 255, 255); */
    margin-top: 0px;
    text-align: center;
    height: 70vh;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}
body{
    text-align: center;
}
.nice{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #ffffc7;
    border-radius: 1rem;
    border: none;
    font-style:bold;
    font-size: 8vmin;
    box-shadow: -8px -8px 15px;

}
 .button-btn{
    height: 8vmin;
    font-size: 4vmin;
    /* display: inline; */
    width: 90px;
    border-radius: 1rem;
    background-color: blueviolet;
    color: azure;
    display: inline;
    /* word-break: break-all; */
}
.newgame-btn{
    height: 8vmin;
    font-size: 2vmin;
    /* display: inline; */
    width: 90px;
    border-radius: 1rem;
    background-color: blueviolet;
    color: azure;
    display: inline;
    /* word-break: break-all; */
}
#nicey{
    margin-top: 0px;
    margin-bottom: 0px;
}



.winner{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 8vmin;
    color: #124568;
}
.msg-container{
    display: none;
    /* display: flex;
    flex-wrap: wrap; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vmin;
}